* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Public Sans", sans-serif !important;
}

.container-fluid,
.col,
.row {
  margin: 0 !important;
  padding: 0 !important;
}

.container-application {
  display: flex;
  background-color: #f8f4f0;
  min-: 100vh;
}

.widget-black {
  background-color: black;
  color: white;
}

.widget-white {
  background-color: white;
  color: black;
}

.widget {
  padding: 2rem;
  border-radius: 1rem;
}

.widget-header {
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
}

.widget-value {
  font-size: 2.8rem;
  font-weight: bold;
}

.information-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.pots-screen-container {
  flex-grow: 1;
  padding: 2rem;
}

.pot-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
}

.pot-card {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
}

.pot-total-saved {
  display: flex;
  justify-content: space-between;
}

.widget-beige {
  background-color: #f8f4f0;
  height: 100%;
}

.chart-body {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.budget-badge-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.modal-container {
  position: absolute;
  width: 30%;
  height: 50%;
  top: 10%;
  left: 40%;
  padding: 2rem;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
}
